*{ margin: 0;
   padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: #fac0c0;
    color: #311f1f;
    overflow-x: hidden;
}
/* nav */
.nav{
  width: 100%;
  height: 50px;
  background-color: #d4d1d1;
  display: flex;
  gap: 30px;
  color: rgb(208, 243, 8);
  padding: 20px;
  text-decoration: none;
  overflow-y: scroll;
}
.text{

    margin-top: 10px;
    font-size: 20px;
}
.nav a{
    text-decoration: none;
}
.ul{
    list-style: none;
    display: flex;
    gap: 30px;
     margin-top: 10px;
    font-size: 20px;
    margin-left: 250px;
}
.ul li a{
    text-decoration: none;
}
.refer{
    background-color: rgb(241, 39, 39);
    color: white;
    height: 30px;
    width: 130px;
    border-radius: 10px;
    text-align: center;
    border: 1px solid rgb(245, 181, 181);
}

/* HEADER */
.header{
    background: #007BFF;
    color: white;
    text-align: center;
    padding: 20px;
}

/* LAYOUT */
.container{
    display: flex;
}

/* SIDEBAR */
.sidebar{
    width: 20%;
    background: #333;
    color: white;
    height: 100vh;
}

.sidebar ul{
    list-style: none;
}

.sidebar li{
    padding: 15px;
    cursor: pointer;
}

.sidebar li:hover{
    background: #555;
}

/* CONTENT */
.content{
    width: 80%;
    padding: 30px;
}

.section{
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.hidden{
    display: none;
}

/* INPUTS */
input{
    display: block;
    margin: 10px 0;
    padding: 10px;
    width: 300px;
}

button{
    padding: 10px 20px;
    background: #007BFF;
    color: white;
    border: none;
    cursor: pointer;
}
/* sidebar container */
.container-sidebar{
    width: 100%;
    height: 300px;
    background-color: rgb(253, 202, 202);
    border: 1px solid rgb(245, 181, 181);
    border-radius: 10px;
    margin-top: 20px;
    padding: 2px;
    display: flex;
}
.container-sidebar a h3:hover{
    background-color: aqua;
}
.sidebar{
    width: 200px;
    height: 250px;
    background-color: rgb(248, 196, 244);
    border: 1px solid rgb(245, 181, 181);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
}
.sidebar-box{
    width: 80%;
     height: 250px;
    background-color: rgb(253, 203, 253);
    border: 1px solid rgb(245, 181, 181);
    border-radius: 10px;
    margin-top: 40px;
    margin-left: 30px;
    display: flex;
}
.sidebar-box1{
    width: 25%;
     height: 230px;
    color: rgb(7, 7, 7);
    border-radius: 10px;
    margin-top: 10px;
    margin-left: 30px;
    padding: 5px;
}
.sidebar-box1 a{
    text-decoration: none;
}
.sidebar-icon{
    display: flex;
    gap: 10px;
    margin-top: 20px;

}
.icon{
    width: 30px;
    height: 30px;
    margin-top: 30px;
    margin-left: 5px;
}
.logo{
    width: 100%;
    height: 70px;
}